@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppind:wght@400;700&display=swap');

* {
    /* if we add borders or something it doesnt affect width */
    box-sizing: border-box; 
}

body {
    background-color: rgba(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /*take up the entire heigh of the veiwport*/
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.9;
}