* {
    /* if we add borders or something it doesnt affect width */
    box-sizing: border-box; 
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh; /*take up the entire heigh of the veiwport*/
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hover {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media(max-width: 800px) {
    body {
        flex-direction:  column;
    }
}